In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [4]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [6]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [7]:
# reflect an existing database into a new model
engine = create_engine("sqlite:///hawaii.sqlite")
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [8]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [10]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [11]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [ ]:
prev_year = dt.date(2017, 8, 23) - dt.timedelta(days=365)
prev_year
# initialize a list to hold the results
# tobs is temperature obs while prcp is precip
results = []

results = session.query(Measurement.date, Measurement.tobs).all()

# results = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= prev_year).all()

len(results )

In [12]:
# for multiple years - tried this method - looked promising - except the OR symbols are interpreted as part of the string
expression4 = ""
for yearx in range(
    2010,2018):
    expression1= f"dt.date({yearx}, 6, 1)"
    expression2= f"dt.date({yearx}, 6, 30)"
    expre1ssion = f"Measurement.date.between({expression1},{expression2} | "
    expre2ssion = expression4 + expression3
    print3(exprssion3)
filter_tuple = expression4[:-2]



# here is a brute force way
filter_2010_june = Measurement.date.between(dt.date(2010, 6, 1),dt.date(2010, 6, 30)
                                            
filter_2011_june = Measurement.date.between(dt.date(2011, 6, 1),dt.date(2011, 6, 30)

filter_2012_june = Measurement.date.between(dt.date(2012, 6, 1),dt.date(2012, 6, 30)

                                            
filter_2013_june = Measurement.date.between(dt.date(2013, 6, 1),dt.date(2013, 6, 30)
filter_2014_june = Measurement.date.between(dt.date(2014, 6, 1),dt.date(2014, 6, 30)
filter_2015_june = Measurement.date.between(dt.date(2015, 6, 1),dt.date(2015, 6, 30)
filter_2016_june = Measurement.date.between(dt.date(2016, 6, 1),dt.date(2016, 6, 30)
filter_2017_june = Measurement.date.between(dt.date(2017, 6, 1),dt.date(2017, 6, 30)
                                            
# filter_tuple_all = (filter_2010_june | filter_2011_june | filter_2012_june | filter_2013_june | filter_2014_june | filter_2015_june | filter_2016_june | filter_2017_june)

SyntaxError: invalid syntax (<ipython-input-12-ad6e8d9a2268>, line 17)

In [32]:

# try to combine two or multiple years in the same query by putting the filters in a list or tuple
start_date_june = dt.date(2017, 6, 1) 
end_date_june = dt.date(2017, 6, 30) 

start_date_june_2016 = dt.date(2016, 6, 1) 
end_date_june_2016 = dt.date(2016, 6, 30) 

start_date_june_2015 = dt.date(2015, 6, 1) 
end_date_june_2015 = dt.date(2015, 6, 30) 

filter_2016 = Measurement.date.between(start_date_june_2016, end_date_june_2016)

filter_2017 = Measurement.date.between(start_date_june, end_date_june)

filter_2015 = Measurement.date.between(start_date_june_2015, end_date_june_2015)

filter_2014 = Measurement.date.between(dt.date(2014, 6, 1), dt.date(2014, 6, 30))


results_june = session.query(Measurement.date, Measurement.tobs).filter(filter_2014 | filter_2015 | filter_2016 | filter_2017)

In [33]:
# len(results_dec)
results_june = results_june.all()
len(results_june)

803

# Exploratory Climate Analysis

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
#Starting from the last data point in the database. 

# Calculate the date one year from the last date in data set.
prev_year = dt.date(2017, 8, 23) - dt.timedelta(days=365)
prev_year

# initialize a list to hold the results
results = []

# Perform a query to retrieve the data and precipitation scores
results = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= prev_year).all()

# Save the query results as a Pandas DataFrame and set the index to the date column
df = pd.DataFrame(results, columns=['date','precipitation'])
df.set_index(df['date'], inplace=True)

# Sort the dataframe by date
df = df.sort_index()

# Use Pandas Plotting with Matplotlib to plot the data
df.plot()

In [ ]:
# next line commented
# print(df.to_string(index=False))
df.plot()

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data
df.describe()

In [ ]:
# How many stations are available in this dataset?
session.query(func.count(Station.station)).all()

In [ ]:
# What are the most active stations?

session.query(Measurement.station, func.count(Measurement.station)).\
group_by(Measurement.station).order_by(func.count(Measurement.station).desc()).all()

# List the stations and the counts in descending order.

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature most active station?

session.query(func.min(Measurement.tobs), func.max(Measurement.tobs), func.avg(Measurement.tobs)).\
filter(Measurement.station == 'USC00519281').all()

In [ ]:
# honestly I don't know why we just can't use regular SQL queries here instead of the SQLAlchemy functions
data = engine.execute("SELECT min(tobs), max(tobs) FROM measurement WHERE station= 'USC00519281'")

for record in data:
    print(record)

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

In [ ]:
# Write a function called `calc_temps` that will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates

# Challenge